/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

@font-face {
	font-family:"VWHeadline";
	src:url(VWHeadlineOT-Book.ttf);
	font-weight:normal;
}
@font-face {
	font-family:"VWHeadline";
	src:url(VWHeadlineOT-Semibold.ttf);
	font-weight: bold;
}

body {
	margin:0;
	height: 100%;
	background-color: #FFF;
	font-family: "VWHeadline";
}


#wrapper {
	width:100%;
}
#header {
	position: absolute;
	top:0px;
	width:100%;
	height: 49px;
	background-color: white;
	background-image: url(bg_topMenu.png);
	background-size: 1px 52px;
	background-repeat: repeat-x;
	box-shadow: 0px 1px 2px gray;
	z-index: 3;
}
#header li {
	cursor:pointer;
}
#header ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#logo{
	float:left;
	padding-left:14px;
	padding-top:5px;
	width:39px;
	height: 44px;
}
#submenu {
	float:right;
	background-image:url(img_menuTop_space.png);
	background-size: 2px 1px;
	background-repeat: repeat-y;
	background-position: left top;
	width:39px;
	height:34px;
	padding-left: 11px;
	padding-top:15px;
}
#search {
	float:right;
	background-image:url(img_menuTop_space.png);
	background-size: 2px 1px;
	background-repeat: repeat-y;
	background-position: left top;
	width:36px;
	height:37px;
	padding-left: 12px;
	padding-top:12px;
}
#content {
	position: relative;
	background-color:none;
	width:100%;
	min-height:200px;
	font-weight: bold;
	overflow: hidden;
	margin-top:49px;
}
#footer {
	width:100%;
	height:285px;
	background-color: #EDEDED;
}

#footer ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#footer li {
	cursor:pointer;
}
.foot_icon {
	float:left;
	width:22px;
	height:20px;
	margin-left:15px;
	background-position: center center;
	background-repeat: no-repeat;
}
#foot_ap {
	background-image: url(img_atencionPersonalizada-icon.png);
	background-size: 20px 17px;
}
#foot_c {
	background-image: url(img_concesionarios-icon.png);
	background-size: 12px 18px;
}
#foot_p {
	background-image: url(img_promociones-icon.png);
	background-size: 15px 16px;
}

.foot_label {
	float:left;
	margin-left: 9px;
}

#gral_btns {
	width:auto;
	padding: 12px !important;
	font-family:"VWHeadline";
	font-size: 17px;
	color:#33434c;
}
#gral_btns li {
	background-color:white;
	height: 33px;
	padding-top: 15px;
	width: auto;
	border-bottom: 1px solid #cdd3d5;
}
#gral_btns li:first-child {
	border-radius: 5px 5px 0px 0px;
}
#gral_btns li:last-child {
	border-radius: 0px 0px 5px 5px;
	border-bottom: none !important;
}
#gral_btns .foot_go {
	float:right;
	margin-right: 13px;
	width: 7px;
	height: 11px;
	background-image: url(img_footer-arrow.png);
	background-size:7px 11px;
	background-repeat: no-repeat;
	background-position: center center;
}
#social_btns {
	clear:both;
	width:174px;
	margin: 0 auto !important;
	background-color: red;
}
#social_btns li {
	float:left;
	width:42px;
	height: 42px;
	margin:8px;
	background-image: url(img_share.png);
	background-repeat: no-repeat;
	background-size:126px 84px;
}
#twitter_btn {
	background-position: 0px 0px;
}
#facebook_btn {
	background-position: -42px 0px;
}
#googleplus_btn {
	background-position: -84px 0px;
}

#legal_btns {
	clear:both;
	width:220px;
	margin:0 auto !important;
	font-size: 11px;
	color:#33434c;
	margin-top: 10px;
	height:9px;
}
#legal_btns li {
	float:left;
}
#legal_btns li:first-child {
	width:90px;
	border-right:1px solid #BCBCBC;
	margin-right: 10px;
}
#copy {
	clear:both;
	font-weight: bold;
	font-size: 9px;
	color:#8994a0;
	text-align: center;
	margin-top: 10px;
}

.page {
	position:absolute;
	width:100%;
	left:0px;
	background-image: url(bg_section.png);
	background-size: 1px 407px;
	background-position: left top;
	background-repeat: repeat-x;
}

.page_title {
	background-color: #EDEDED;
	height:28px;
	padding-top: 13px;
	font-weight: bold;
	font-size: 16px;
	color:#33434c;
	text-align: center;
}
.category_list {
	padding:0px;
	margin:0px;
	list-style: none;
	width:100%;
}
.category_list li {
	clear:both;
	width:auto;
	height:42px;
	padding-top: 19px;
	border-bottom: 2px solid #cdd3d5;
	padding-left: 22px;
	font-size: 23px;
	font-weight: normal;
	color:#0186cb;
	background-image: url(bg_button1.png);
	background-size: 1px 62px;
	background-repeat: repeat-x;
	background-position: left top;
}
.category_list li div:first-child {
	float:left;
}
.category_list li div:last-child {
	float:right;
	background-image: url(img_arrow1.png);
	background-size: 18px 18px;
	width:18px;
	height: 18px;
	margin-right: 18px;
}
.category_list li:hover {
	color:white;
	background-image: url(bg_button-blue.png);
}
.category_list li:hover div:last-child { 
	background-image: url(img_arrow2.png);
}

.car_list {
	padding:0px;
	margin:0px;
	list-style: none;
	width:100%;
}
.car_list li {
	clear:both;
	width:auto;
	height:79px;
	padding-top: 47px;
	border-bottom: 2px solid #cdd3d5;
	font-size: 23px;
	font-weight: normal;
	color:#0186cb;
	background-image: url(bg_button-1.png);
	background-size: 1px 120px;
	background-repeat: repeat-x;
	background-position: left top;
}
.car_list li > div:first-child {
	float:left;
	width:130px;
	padding:10px;
	margin-top:-32px;
	height:64px;
}
.car_list li > div:last-child {
	float:right !important;
	background-image: url(img_arrow1.png);
	background-size: 18px 18px;
	width:18px;
	height: 18px;
	margin-right: 18px;
	margin-top: -32px;
}
.car_list li:hover {
	background-image: url(bg_button-2.png);
}
.car_list li:hover > div:last-child { 
	background-image: url(img_arrow2.png);
}
.car_list .car_price_name{
	color:#8994a0;
	font-size: 12px;
}
.car_list .car_price_value{
	color:#33434c;
	font-size: 12px;
	font-weight: bold;
}

.btn {
	cursor:pointer;
}
.back_btn {
	position:absolute;
	left:8px;
	top:4px;
	width:35px;
	height:35px;
	background-image: url(btn_back.png);
	background-size:35px 69px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	cursor:pointer;
}

.image_slider {
	width:100%;
	height: 300px;
}
.trans_slider {
	height:330px !important;
}
.trans_slider ul {
	height:330px !important;
}
.image_slider ul {
	list-style: none;
	margin:0px;
	padding:0px;
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	height:300px;
	overflow: hidden;
}
.image_slider ul li {
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:300px;
}
.image_slider .center_elem {
	width:320px;
	text-align: center;
	margin:0 auto;
}
.image_slider .slide_title {
	font-weight: bold;
	font-size:11px;
	color:#8994a0;
}
.image_slider .car_name {
	font-weight: bold;
	color:#0187cc;
	font-size:25px;
}
.image_slider .model_name {
	font-weight: normal;
	color:#33434c;
	font-size:25px;
}
.image_slider .price_from {
	font-size: 14px;
	color:#8994a0;
}
.image_slider .model_info {
	font-size: 12px;
	font-weight: normal;
	color:#8994a0;
	padding-top:13px;
}
.image_slider .price_value {
	font-size: 14px;
	color:#33434c;
}
.image_slider .slide_title {
	padding-top: 10px;
}
.image_slider .model_title {
	padding-top: 9px;
	width:auto !important;
}
.image_slider .trans_title {
	padding-top: 9px;
	color:#0187cc;
	font-size:25px;
	font-weight: bold;
}
.image_slider .price {
	padding-top: 8px;
}
.image_slider .model_image {
	padding-top:15px;
	width:204px;
	height:126px;
}
.image_slider .trans_image {
	padding-top:10px;
	width:320px;
	height:200px;
	background-size:218px 220px;
	background-position: center top;
	background-repeat: no-repeat;
}
.image_slider .color_image {
	padding-top:10px;
	width:320px;
	height:200px;
	background-size:53px 81px;
	background-position: center 38px;
	background-repeat: no-repeat;
	background-image: url(img_color.png);

}
.image_slider .DGS {
	background-image: url(img_transmision_dsg.png);
}
.image_slider .Tiptronic {
	background-image: url(img_transmision_tiptronic.png);
}
.image_slider .Manual {
	background-image: url(img_transmision_manual.png);
}

.image_slider .trans_info {
	margin-top:-30px;
	font-size: 13px;
	font-weight: normal;
	color:#33434c;
}

.image_slider .white {
	color:#FFF;
}
.large_btn {
	position: relative;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	height: 59px;
}
.large_btn .left {
	width:29px;
	height: 59px;
	background-size: 58px 59px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.large_btn .center {
	position: relative;
	width:auto;
	height: 51px;
	margin-left: 29px;
	margin-right: 29px;
	background-image: url(btn_white_sprte-2.png);
	background-size: 1px 59px;
	background-repeat: repeat-x;
	top:-59px;
	text-align: center;
	padding-top: 18px;
}
.large_btn .right {
	position: relative;
	width:29px;
	margin-left: 100%;
	left:-29px;
	height: 59px;
	margin-top: -128px;
	background-size: 58px 59px;
	background-position: -29px 0px;
	background-repeat: no-repeat;
}
.config_btn {
	color: #33434c;
}
.ready_btn {
	color:#FFF;
}
.config_btn .left,.config_btn .right {
	background-image: url(btn_white_sprte-1.png);
}
.config_btn .center {
	background-image: url(btn_white_sprte-2.png);
}
.ready_btn .left, .ready_btn .right {
	background-image: url(btn_blue_sprte-1.png);
}
.ready_btn .center {
	background-image: url(btn_blue_sprte-2.png);
}
.arrows {
	position: absolute;
	left:0px;
	right:0px;
	width:100%;
	height:25px;
	margin-top: 150px;
	z-index: 5;
}
.arrows .left {
	width:8px;
	height:13px;
	position:absolute;
	left:10px;
	top:0px;
	background-image: url(img_nav.png);
	background-size:16px 25px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.arrows .right {
	width:8px;
	height:13px;
	position: absolute;
	right:10px;
	top:0px;
	background-image: url(img_nav.png);
	background-size:16px 25px;
	background-position: -8px 0px;
	background-repeat: no-repeat;
}

.arrows .left2 {
	width:32px;
	height:32px;
	position:absolute;
	left:10px;
	top:40px;
	background-image: url(btn_arrow.png);
	background-size:63px 63px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.arrows .right2 {
	width:32px;
	height:32px;
	position: absolute;
	right:10px;
	top:40px;
	background-image: url(btn_arrow.png);
	background-size:63px 63px;
	background-position: -31.5px 0px;
	background-repeat: no-repeat;
}


.image_slider .slider_prices{
	width:100%;
	height:50px;
	background-image: url(bg_price.png);
	background-size:1px 52px;
	background-position:left top;
	background-repeat: repeat-x;
}
.image_slider .top_price {
	width:50%;
	height:50px;
	float:left;
}
.image_slider .top_price > div {

	padding-top:15px;
	height:35px;
}
.image_slider .top_price .first {
	text-align: right;
	padding-right:11px;
	border-right:1px solid #CED3D5;
	
}
.image_slider .top_price .last {
	text-align: left;
	padding-left:11px;
	border-left:1px solid #FFF;
}

.image_slider .top_price .top_price_title {
	color:#8994a0;
	font-size: 9px;
	width:40px;
	font-weight: normal;
	text-align: left;
	display: inline-block;
}
.image_slider .top_price .top_price_value {
	font-size: 16px;
	font-weight: bold;
}
.image_slider .top_price .first .top_price_value {
	color:#0187cc ;
}
.image_slider .top_price .last .top_price_value {
	color:#33434c ;
}
