/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

@font-face {
	font-family:"VWHeadline";
	src:url(VWHeadlineOT-Book.ttf);
	font-weight:normal;
}
@font-face {
	font-family:"VWHeadline";
	src:url(VWHeadlineOT-Semibold.ttf);
	font-weight: bold;
}



body {
	margin:0;
	height: 100%;
	min-width: 320px;
	background-color: #FFF;
	font-family: "VWHeadline";
	overflow-x:hidden;
}


#wrapper {
	min-width: 320px;
	width:100%;
	height: 100%;
	overflow: visible;
}
#header {
	position: absolute;
	top:0px;
	width:100%;
	min-width: 320px;
	height: 49px;
	background-color: white;
	background-image: url(bg_menu.png);
	background-size: 1px 52px;
	background-repeat: repeat-x;
	box-shadow: 0px 1px 2px gray;
	z-index: 5;
}
#header li {
	cursor:pointer;
}
#header ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#logo{
	float:left;
	padding-left:14px;
	padding-top:5px;
	width:39px;
	height: 44px;
}
#submenu_btn {
	float:right;
	background-image:url(img_menuTop_space.png);
	background-size: 2px 1px;
	background-repeat: repeat-y;
	background-position: left top;
	width:39px;
	height:34px;
	padding-left: 11px;
	padding-top:15px;
}

#home_btn {
	float:right;
	background-image:url(img_menuTop_space.png);
	background-size: 2px 1px;
	background-repeat: repeat-y;
	background-position: left top;
	width:32px;
	height:34px;
	padding-left: 13px;
	padding-top:15px;
}
#submenu {
	position: absolute;
	left:0px;
	width:100%;
	top:47px;
	display: none;
}
#submenu .whitebox {
	width:50px;
	height:4px;
	background-color: white;
	float:right;
	margin-right:48px;
}
#submenu .m {
	clear:both;
}
#submenu li {
	background-image: url(bg_buttonm-1.png);
	padding-top:25px;
	width:100%;
	height:49px;
	background-size: 1px 74px;
	background-repeat: repeat-x;
	border-bottom: 1px solid #cdd3d5;
	background-color: #FFF;
	color:#33434c;
	font-size: 23px;
	font-weight: normal;
}
#submenu li:hover {
	background-image: url(bg_buttonm-2.png);
	}
#submenu .icon {
	float:left;
	width:17px;
	height:17px;
	margin-left: 15px;
	background-size: 17px 17px;
	background-repeat: no-repeat;
}
#submenu .tvw {
	background-image: url(img_misVolkswagen.png);
}
#submenu .help {
	background-image: url(img_help.png);
}
#submenu .title {
	float:left;
	margin-left:15px;
}
#submenu .right_arrow {
	float:right;
	margin-right:20px;
	width:7px;
	height:11px;
	background-image:url(img_arrow.png);
	background-size: 7px 11px;
}
#search_results {
	position: absolute;
	width: 100%;
	background-color:white;
	z-index: 6;
}
#search {
	position: absolute;
	left:0px;
	width:100%;
	top:47px;
	display: none;
}
#search .whitebox {
	width:47px;
	height:4px;
	background-color: white;
	float:right;
	margin-right:0px;
}
#search .searchbox {
	clear:both;
	position:relative;
	padding-top: 9px;
	padding-left: 9px;
	height:47px;
	background-image: url(bg_search-1.png);
	background-size:1px 56px;
	background-repeat: repeat-x;
}
.searchbox .left {
	position: relative;
	background-image:url(bg_search.png);
	width:20px;
	height:38px;
	background-size:299px 38px;
	background-position:0px 0px;
	background-repeat:no-repeat;
}
.searchbox .center {
	position: relative;
	background-image:url(bg_search_h.png);
	width:auto;
	height:38px;
	top:-38px;
	margin-left: 20px;
	margin-right: 38px;
	background-size:1px 38px;
	background-position:0px 0px;
	background-repeat:repeat-x;
}
.searchbox .right {
	position: relative;
	background-image:url(bg_search.png);
	width:20px;
	height:38px;
	margin-left: 100%;
	margin-top: -76px;
	left:-38px;
	background-size:299px 38px;
	background-position:-278px 0px;
	background-repeat:no-repeat;
}
.searchbox input {
	border:none;
	font-family: "VWHeadline";
	font-weight: normal;
	font-size: 19px;
	color:#33434c;
	width: 85%;
	background-size:1px 38px;
	background-position:0px 0px;
	background-repeat:repeat-x;
	padding-top: 9px;
	border-radius: 0px;
	background-color:rgba(0,0,0,0);
	outline: none;
	outline-style: none;
	box-shadow: none;
	-moz-appearance:none;
}
.searchbox .close_btn {
	position: absolute;
	right:20px;
	top:10px;
	width:34px;
	height:34px;
	background-image: url(img_close.png);
	background-size:34px 67px;
	background-repeat: no-repeat;
}


#submenu .dimmer {
	clear:both;
	width:100%;
	height:100%;
	background-color: #000;
}

#search .dimmer {
	clear:both;
	width:100%;
	height:100%;
	background-color: #000;
}
#search_btn {
	float:right;
	background-image:url(img_menuTop_space.png);
	background-size: 2px 1px;
	background-repeat: repeat-y;
	background-position: left top;
	width:36px;
	height:37px;
	padding-left: 12px;
	padding-top:12px;
}
#content {
	position: relative;
	background-color:none;
	width:100%;
	font-weight: bold;
	overflow: visible;
	margin-top:49px;
	min-height: 300px;
}
#footer {
	width:100%;
	height:285px;
	background-color: #EDEDED;
}

#footer ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#footer li {
	cursor:pointer;
}
.foot_icon {
	float:left;
	width:22px;
	height:20px;
	margin-left:15px;
	background-position: center center;
	background-repeat: no-repeat;
}
#foot_ap {
	background-image: url(img_atencionPersonalizada-icon.png);
	background-size: 20px 17px;
}
#foot_c {
	background-image: url(img_concesionarios-icon.png);
	background-size: 12px 18px;
}
#foot_p {
	background-image: url(img_promociones-icon.png);
	background-size: 15px 16px;
}

.foot_label {
	float:left;
	margin-left: 9px;
}

#gral_btns {
	width:auto;
	padding: 12px !important;
	font-family:"VWHeadline";
	font-size: 17px;
	color:#33434c;
}
#gral_btns a {
	text-decoration: none;
	color:#33434c;
}
#gral_btns li {
	background-color:white;
	height: 33px;
	padding-top: 15px;
	width: auto;
	border-bottom: 1px solid #cdd3d5;
}
#gral_btns li:first-child {
	border-radius: 5px 5px 0px 0px;
}
#gral_btns li:last-child {
	border-radius: 0px 0px 5px 5px;
	border-bottom: none !important;
}
#gral_btns .foot_go {
	float:right;
	margin-right: 13px;
	width: 7px;
	height: 11px;
	background-image: url(img_footer-arrow.png);
	background-size:7px 11px;
	background-repeat: no-repeat;
	background-position: center center;
}
#social_btns {
	clear:both;
	width:174px;
	margin: 0 auto !important;
	background-color: red;
}
#social_btns li {
	float:left;
	width:42px;
	height: 42px;
	margin:8px;
	background-image: url(img_share.png);
	background-repeat: no-repeat;
	background-size:126px 84px;
}
#twitter_btn {
	background-position: 0px 0px;
}
#facebook_btn {
	background-position: -42px 0px;
}
#googleplus_btn {
	background-position: -84px 0px;
}

#legal_btns {
	clear:both;
	width:220px;
	margin:0 auto !important;
	font-size: 11px;
	color:#33434c;
	margin-top: 10px;
	height:9px;
}
#legal_btns a {
	color:#33434c;
	text-decoration: none;
}
#legal_btns li {
	float:left;
}
#legal_btns li:first-child {
	width:90px;
	border-right:1px solid #BCBCBC;
	margin-right: 10px;
}
#copy {
	clear:both;
	font-weight: bold;
	font-size: 9px;
	color:#8994a0;
	text-align: center;
	margin-top: 10px;
}

.page {
	position:absolute;
	width:100%;
	left:0px;
	background-image: url(bg_section.png);
	background-size: 1px 407px;
	background-position: left top;
	background-repeat: repeat-x;
}

.page_title {
	background-color: #EDEDED;
	height:30px;
	padding-top: 14px;
	font-weight: bold;
	font-size: 16px;
	color:#33434c;
	text-align: center;
}
.category_list {
	padding:0px;
	margin:0px;
	list-style: none;
	width:100%;
}
.category_list li {
	clear:both;
	width:auto;
	height:42px;
	padding-top: 19px;
	border-bottom: 1px solid #cdd3d5;
	padding-left: 22px;
	font-size: 19px;
	font-weight: bold;
	color:#0186cb;
	background-image: url(bg_button1.png);
	background-size: 1px 62px;
	background-repeat: repeat-x;
	background-position: left top;
}
.category_list li div:first-child {
	float:left;
}
.category_list li div:last-child {
	float:right;
	background-image: url(img_arrow2.png);
	background-size: 18px 18px;
	width:18px;
	height: 18px;
	margin-right: 18px;
	border-bottom: none !important;
}
/*
.category_list li:hover {
	background-image: url(bg_button1-2.png);
}*/
.category_list .all_models {
	color:white;
	background-image: url(img_btn_on.jpg);
}
/*
.category_list .all_models:hover {
	background-image: url(img_btn_off.jpg);
}
*/
.category_list .all_models div:last-child { 
	background-image: url(img_arrow1.png);
	border-bottom: none !important;
}

.car_list {
	padding:0px;
	margin:0px;
	list-style: none;
	width:100%;
}
.car_list li {
	clear:both;
	width:auto;
	height:73px;
	padding-top: 47px;
	border-bottom: 1px solid #cdd3d5;
	font-size: 19px;
	font-weight: bold;
	color:#0186cb;
	background-image: url(bg_button-1.png);
	background-size: 1px 120px;
	background-repeat: repeat-x;
	background-position: left top;
}
.car_list li > div:first-child {
	float:left;
	width:130px;
	padding:10px;
	margin-top:-32px;
	height:64px;
}
.car_list li > div:last-child {
	float:right !important;
	background-image: url(img_arrow1.png);
	background-size: 18px 18px;
	width:18px;
	height: 18px;
	margin-right: 18px;
	margin-top: -32px;
}
.car_list li:hover {
	background-image: url(bg_button-2.png);
}
.car_list li:hover > div:last-child { 
	background-image: url(img_arrow2.png);
}
.car_list .car_price_name{
	color:#8994a0;
	font-size: 12px;
}
.car_list .car_price_value{
	color:#33434c;
	font-size: 12px;
	font-weight: bold;
}
.car_list .subname {
	font-size:16px;
	font-weight: normal;
	color:#33434c;
}
.car_list .notfound {
	font-size:16px;
	font-weight: normal; 
	color:#33434c;
}
#search_results .car_list li {
	padding-top: 30px !important;
	height:88px !important;
}
#search_results .car_list li > div:first-child {
	padding-top: 30px;
}
.car_list .search_price_name {
	font-size: 13px !important;
	font-weight: normal;
}
.car_list .search_price_name {
	color:#8994a0;
}

.btn {
	cursor:pointer;
}
.back_btn {
	position:absolute;
	left:8px;
	top:6px;
	width:69px;
	height:32px;
	background-image: url(btn_back-on.png);
	background-size:69px 32px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	cursor:pointer;
}
.back_btn:hover {
	background-image: url(btn_back-off.png);
}
.home_btn {
	position:absolute;
	right:8px;
	top:4px;
	width:32px;
	height:32px;
	background-image: url(btn_home.png);
	background-size:32px 63px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	cursor:pointer;
}

.image_slider {
	width:100%;
	height: 300px;
	overflow:visible;
}
/*
.trans_slider {
	height:330px !important;
}
.trans_slider ul {
	height:330px !important;
}*/
.image_slider > ul {
	list-style: none;
	margin:0px;
	padding:0px;
	position:relative;
	left:0px;
	top:0px;
	width:100%;
}
.image_slider > ul > li {
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:auto;
}
.image_slider .center_elem {
	width:300px;
	text-align: center;
	margin:0 auto;
}
.image_slider .slide_title {
	font-weight: bold;
	font-size:11px;
	color:#8994a0;
}
.image_slider .car_name {
	font-weight: bold;
	color:#0187cc;
	font-size:25px;
}
.image_slider .model_name {
	font-weight: normal;
	color:#33434c;
	font-size:25px;
}
.image_slider .price_from {
	font-size: 14px;
	color:#8994a0;
}
.image_slider .model_info {
	font-size: 12px;
	font-weight: normal;
	color:#8994a0;
	padding-top:13px;
}
.image_slider .price_value {
	font-size: 14px;
	color:#33434c;
}
.image_slider .slide_title {
	padding-top: 10px;
}
.image_slider .model_title {
	padding-top: 9px;
}
.image_slider .model_title span {
	display: inline-block;
}
.image_slider .trans_title {
	padding-top: 9px;
	color:#0187cc;
	font-size:25px;
	font-weight: bold;
}
.image_slider .price {
	padding-top: 3px;
}
.image_slider .model_image {
	padding-top:15px;
	width:204px;
	height:126px;
}
.image_slider .trans_image {
	padding-top:10px;
	width:320px;
	height:200px;
	background-size:218px 220px;
	background-position: center top;
	background-repeat: no-repeat;
}
.image_slider .interior_image {
	padding-top:10px;
	width:320px;
	height:200px;
	background-size:250px 227px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(img_vestiduras-icon.png);
}
.image_slider .package_image {
	padding-top:10px;
	width:320px;
	height:200px;
	background-size:218px 173px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(img_paquetes-icon.png);
}

.image_slider .service_image {
	padding-top:10px;
	width:320px;
	height:200px;
	background-size:218px 207px;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(img_servicios.png);
}
.image_slider .color_image {
	padding-top:10px;
	width:320px;
	height:200px;
	background-size:53px 81px;
	background-position: center 38px;
	background-repeat: no-repeat;
	background-image: url(img_color.png);

}
.image_slider .DGS {
	background-image: url(img_transmision_dsg.png);
}
.image_slider .Tiptronic {
	background-image: url(img_transmision_tiptronic.png);
}
.image_slider .Manual {
	background-image: url(img_transmision_manual.png);
}

.image_slider .trans_info {
	margin-top:-30px;
	font-size: 13px;
	font-weight: normal;
	height:30px;
	color:#33434c;
}

.image_slider .white {
	color:#FFF;
}
.large_btn {
	position: relative;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	height: 59px;
}
.large_btn .left {
	width:29px;
	height: 59px;
	margin-left: 20px;
	background-size: 58px 59px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.large_btn .center {
	position: relative;
	width:auto;
	height: 51px;
	margin-left: 49px;
	margin-right: 49px;
	background-image: url(btn_white_sprte-2.png);
	background-size: 1px 59px;
	background-repeat: repeat-x;
	top:-59px;
	text-align: center;
	padding-top: 18px;
}
.large_btn .right {
	position: relative;
	width:29px;
	margin-left: 100%;
	left:-49px;
	height: 59px;
	margin-top: -128px;
	background-size: 58px 59px;
	background-position: -29px 0px;
	background-repeat: no-repeat;
}
.large_btn .check {
	position:absolute;
	left:35px;
	top:15px;
	width:29px;
	height:29px;
	background-image:url(img_checkbox.png);
	background-size:29px 57px;
	background-repeat: no-repeat;
}
.large_btn .attention {
	position:absolute;
	left:35px;
	top:20px;
	width:20px;
	height:17px;
	background-image:url(img_atencionPersonalizada-icon.png);
	background-size:20px 17px;
	background-repeat: no-repeat;
}
.large_btn .calculator {
	position:absolute;
	left:35px;
	top:18px;
	width:20px;
	height:24px;
	background-image:url(img_calculadoraFinanciera-icon.png);
	background-size:20px 24px;
	background-repeat: no-repeat;
}
.large_btn .off {
	background-position: 0px 0px;
}
.large_btn .on {
	background-position: 0px -29px;
}
.config_btn {
	color: #33434c;
}
.ready_btn {
	color:#FFF;
}
.small_tx {
	font-size:16px !important;
}
.config_btn .left,.config_btn .right {
	background-image: url(btn_white_sprte-1.png);
}
.config_btn .center {
	background-image: url(btn_white_sprte-2.png);
}
.ready_btn .left, .ready_btn .right {
	background-image: url(btn_blue_sprte-1.png);
}
.ready_btn .center {
	background-image: url(btn_blue_sprte-2.png);
}
.arrows {
	position: absolute;
	left:0px;
	right:0px;
	width:100%;
	height:25px;
	margin-top: 125px;
	z-index: 3;
}
.arrows .left {
	width:8px;
	height:13px;
	position:absolute;
	left:10px;
	top:0px;
	background-image: url(img_nav.png);
	background-size:16px 25px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.arrows .right {
	width:8px;
	height:13px;
	position: absolute;
	right:10px;
	top:0px;
	background-image: url(img_nav.png);
	background-size:16px 25px;
	background-position: -8px 0px;
	background-repeat: no-repeat;
}

.arrows .left2 {
	width:31px;
	height:31px;
	position:absolute;
	left:10px;
	top:75px;
	background-image: url(btn_prev.png);
	background-size:31px 61px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.arrows .right2 {
	width:31px;
	height:31px;
	position: absolute;
	right:10px;
	top:75px;
	background-image: url(btn_sig.png);
	background-size:31px 61px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.arrows .left3 {
	width:31px;
	height:31px;
	position:absolute;
	left:10px;
	top:0px;
	background-image: url(btn_prev.png);
	background-size:31px 61px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.arrows .right3 {
	width:31px;
	height:31px;
	position: absolute;
	right:10px;
	top:0px;
	background-image: url(btn_sig.png);
	background-size:31px 61px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.slider_prices {
	position:absolute;
	z-index: 4;
	width: 100%;
}

.slider_prices .price_strip{
	position: relative;
	width:100%;
	height:50px;
	background-image: url(bg_price.png);
	background-color: #FFF;
	background-size:1px 52px;
	background-position:left top;
	background-repeat: repeat-x;
	text-align: center;
}
.slider_prices .top_price {
	height:50px;
}
.slider_prices .top_price > div {
	height:50px;
}


.slider_prices .top_price_title {
	color:#8994a0;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	display: inline-block;
	width: 62px;
	padding-left: 8px;
	position: relative;
	top:-5px;
}

.slider_prices .top_price_value {
	font-size: 24px;
	color:#0187cc;
	font-weight: normal;
	display: inline-block;
	width:250px;
	padding-top: 15px;
}
.slider_prices .subprice {
	text-align: center;
}

.slider_prices .subprice .top_price_title {
	width:132px;
}
.slider_prices .subprice .top_price_value {
	width:180px;
	color:#33434c ;
}

.slider_prices .price_btn {
	position:absolute;
	right:9px;
	top:15px;
	width:18px;
	height:18px;
	background-size: 18px 37px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-image:url(btn_price.png); 
}
.slider_prices .open {
	background-position: 0px -18px !important;
}

.slider_prices .price_list {
	background-color: white;
	width: 100%;
	height: 0px;
	overflow: hidden;
}
.slider_prices .price_list ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.image_slider .price_spacer {
	width:100%;
	height:50px;
}
.slider_prices .price_list ul li {
	height:50px;
	border-bottom: 1px solid #cdd3d5;
}
.slider_prices .dimmer {
	clear:both;
	width:100%;
	height:100%;
	background-color: #000;
}

.share {
	padding: 9px;
	height:37px;
}
.share div {
	float:left;
	margin:3px;
}
.share_title {
	margin-left: 54px !important;
	padding-top: 8px;
	padding-right: 2px;
	font-size: 14px;
	color:#33434c;
	font-weight: bold;
}
.fb_btn {
	width:31px;
	height: 31px;
	background-size: 61px 62px;
	background-image: url(btn_social.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.tw_btn {
	width:31px;
	height: 31px;
	background-size: 61px 62px;
	background-image: url(btn_social.png);
	background-position: -31px 0px;
	background-repeat: no-repeat;
}
.navcount {
	text-align: center;
	padding-top: 10px;
	height:25px;
	position: relative;
	left:50%;
	width: 160px;
}
.navcount ul {

	list-style: none;
	padding:0px;
	margin: 0px;
}
.navcount li {
	float:left;
	margin: 3px;
	
}
.navcount .on {
	width:7px;
	height: 7px;
	background-size: 7px 7px;
	background-image: url(btn_nav_1.png);
}
.navcount .off {
	width:7px;
	height:7px;
	background-size: 7px 7px;
	background-image: url(btn_nav_2.png);
}

.tusvw_list {
	padding:0px;
	margin:0px;
	list-style: none;
	width:100%;
}
.tusvw_list .tuvw {
	clear:both;
	width:auto;
	height:88px;
	padding-top: 30px;
	border-bottom: 2px solid #cdd3d5;
	font-size: 19px;
	font-weight: bold;
	color:#0186cb;
	background-image: url(bg_button-1.png);
	background-size: 1px 120px;
	background-repeat: repeat-x;
	background-position: left top;
}
.tusvw_list .tuvw > div:first-child {
	float:left;
	width:130px;
	padding:10px;
	margin-top:-32px;
	height:64px;
}
.tusvw_list .tuvw > div:last-child {
	float:right !important;
	background-image: url(img_arrow1.png);
	background-size: 18px 18px;
	width:18px;
	height: 18px;
	margin-right: 18px;
	margin-top: -32px;
}
.tusvw_list .tuvw:hover {
	background-image: url(bg_button-2.png);
}
.tusvw_list .tuvw:hover > div:last-child { 
	background-image: url(img_arrow2.png);
}
.tusvw_list .car_price_name{
	color:#8994a0;
	font-size: 12px;
}
.tusvw_list .car_price_value{
	color:#33434c;
	font-size: 12px;
	font-weight: bold;
}
.tusvw_list .subname {
	font-size:16px;
	font-weight: normal;
	color:#33434c;
}
.tusvw_list .tusvw_price_name {
	font-size: 13px !important;
	font-weight: normal;
	color:#8994a0;
}


.tusvw_list .tuvw > div:first-child {
	padding-top: 30px;
}
.tusvw_list .search_price_name {
	font-size: 13px !important;
	font-weight: normal;
}
.tusvw_list .search_price_name {
	color:#8994a0;
}


.tusvw_list .title_on {
	clear:both;
	width:auto;
	height:35px;
	padding-top: 15px;
	padding-left: 20px;
	border-bottom: 2px solid #cdd3d5;
	font-size: 19px;
	font-weight: normal;
	color:#ffffff;
	background-image: url(img_btn_on.jpg);
	background-size: 1px 62px;
	background-repeat: repeat-x;
	background-position: left top;

}
.tusvw_list .title_off {
	clear:both;
	width:auto;
	height:35px;
	padding-left: 20px;
	padding-top: 15px;
	border-bottom: 2px solid #cdd3d5;
	font-size: 19px;
	font-weight: normal;
	color:#33434c;
	background-image: url(bg_button1.png);
	background-size: 1px 62px;
	background-repeat: repeat-x;
	background-position: left top;
}
.tusvw_list .title_on > div:last-child {
	float:right !important;
	background-image: url(btn_view_1.png);
	background-size: 9px 6px;
	width:9px;
	height: 6px;
	margin-right: 18px;
	margin-top: -15px;
}
.tusvw_list .title_off > div:last-child {
	float:right !important;
	background-image: url(img_view_2.png);
	background-size: 9px 6px;
	width:9px;
	height: 6px;
	margin-right: 18px;
	margin-top: -15px;
}


#review_list {
	display: none;
	position: absolute;
	left:0px;
	top:49px;
	z-index: 6;
	width: 100%;
	min-width: 320px;
}
#review_list .content {
	width:284px;
	margin:18px;
	height:362px;
	background-image: url(bg.png);
	background-size: 284px 378px;
	padding:0px;
	padding-top: 16px;
	position: absolute;
	left:50%;
	margin-left: -142px;
}
#review_list ul {
	list-style:none;
	margin: 0px;
	padding: 0px;
}
#review_list ul li {
	height:38px;
	padding-top:9px;
	padding-left:12px;
}
#review_list ul li div:first-child{
	font-weight:bold;
	color:#8994a0;
	font-size:13px;
}
#review_list ul li div:last-child{
	font-weight:normal;
	color:#33434c;
	font-size:18px;
}
#review_list .dimmer {
	position: absolute;
	background-color: black;
	width:320px;
	height:414px;
	left:0px;
	top:0px;
	opacity: 0.6;
}
#review_list .close_btn {
	background-image: url(btn_cerrar.png);
	background-size: 24px 24px;
	cursor:pointer;
	position: absolute;
	right:9px;
	top:9px;
	width: 24px;
	height: 24px;
}
#attention {
	position: absolute;
	top:0px;
	min-width: 320px;
	width: 100%;
	z-index: 6;
	background-color: white;
	height:100%;
	display: none;

}
#sub_header {
	width:100%;
	height: 49px;
	background-color: white;
	background-image: url(bg_menu.png);
	background-size: 1px 52px;
	background-repeat: repeat-x;
	box-shadow: 0px 1px 2px gray;
	z-index: 5;
}
#sub_header li {
	cursor:pointer;
}
#sub_header ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#sub_logo{
	float:left;
	padding-left:14px;
	padding-top:5px;
	width:39px;
	height: 44px;
}

#sub_close_btn {
	position:absolute;
	right:14px;
	top:14px;
	width:24px;
	height:24px;
	cursor:pointer;
}

#attention_form label, #attention input {
	display: block;
}
#attention_form label {
 	color:#33434c;
 	font-weight: bold;
 	font-size: 14px;
 	padding-left: 19px;
}
#attention_form ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#attention_form .form_input {
	clear:both;
	position:relative;
	padding-top: 9px;
	padding-left: 20px;
	height:47px;
}
.form_input .left {
	position: relative;
	background-image:url(bg_search.png);
	width:20px;
	height:38px;
	background-size:299px 38px;
	background-position:0px 0px;
	background-repeat:no-repeat;
}
.form_input .center {
	position: relative;
	background-image:url(bg_search_h.png);
	width:auto;
	height:38px;
	top:-38px;
	margin-left: 20px;
	margin-right: 44px;
	background-size:1px 38px;
	background-position:0px 0px;
	background-repeat:repeat-x;
}
.form_input .right {
	position: relative;
	background-image:url(bg_search.png);
	width:20px;
	height:38px;
	margin-left: 100%;
	margin-top: -76px;
	left:-44px;
	background-size:299px 38px;
	background-position:-278px 0px;
	background-repeat:no-repeat;
}
.form_input input {
	border:none;
	font-family: "VWHeadline";
	font-weight: normal;
	font-size: 19px;
	color:#33434c;
	width: 85%;
	background-size:1px 38px;
	background-position:0px 0px;
	background-repeat:repeat-x;
	padding-top: 6px;
	border-radius: 0px;
	background-color:rgba(0,0,0,0);
	outline: none;
	outline-style: none;
	box-shadow: none;
	-moz-appearance:none;
	height:30px;
}
#form_title {
	text-align: center;
	padding: 20px;
}
#form_title h1 {
	font-weight: bold;
	color:#0187cc;
	font-size: 16px;
}
#form_title p {
color:#33434c;
font-weight: normal;
font-size: 12px;

}
#attention_form .info {
	color:#33434c;
font-weight: normal;
font-size: 12px;
padding-left: 20px;
padding-top: 14px;
padding-bottom: 14px;

}
#attention_info {
	margin-top:20px;
	margin-left:20px;
	margin-right: 20px;
	border-top: 1px solid #e9e9e9;
	text-align: center;
	color:#8994a0;
	font-size: 12px;
	font-weight: normal;
}
#attention_info a, #attention_info a:visited {
	color:#000;
	text-decoration: none;
}
#legal_info {
	margin-top:20px;
	margin-left:20px;
	margin-right: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #e9e9e9;
	text-align: center;
	color:#8994a0;
	font-size: 10px;
	
	font-weight: bold;
}
