<ul class='car_list'>
<% @versions.each do |v| %>
	<li>
		<div class="car_img">
			<% if (Rails.application.assets.find_asset 'pics/versions/'+v.id.to_s+'.png') %>
				<img src="./assets/pics/versions/<%=v.id %>.png" width="130" height="64" />
			<% end %>
		&nbsp;</div>
		<div>
			<div><%= v.car_name %></div>
			<div><%= v.name %></div>
			<div class="car_price_name"><span>Desde: </span><span class='car_price_value'><%= number_to_currency(v.list_price,precision: 0) %></span> </div>
		</div>
		<div></div>
	</li>
<% end %>
</ul>