<div id="wrapper">
	<header id="header">
		<nav id="menu">
			<ul>
				<li id="logo">
					<a href="//volkswagen.com.mx/" target="_blank"><img src="/assets/volkswagen_logo.png" widht="39" height="39"></a>
				</li>

				<li id="search"><img src="/assets/btn_search-icon.png" width="25" height="25" /></li>
				<li id="submenu"><img src="/assets/btn_menu-icon.png" width="27" height="20" /></li>
			</ul>
		</nav>
	</header>
	<section id="content">
			<div class="prevPage page">PREV</div>
			<div class="currentPage page">CURRENT</div>

			<div class="nextPage page">NEXT</div>
	</section>
	<footer id="footer">
		<ul id="gral_btns">
			<li>
				<div id="foot_ap" class="foot_icon"></div>
				<div class="foot_label">Atención personalizada</div>
				<div class="foot_go"></div>
			</li>
			<li>
				<div id="foot_c" class="foot_icon"></div>
				<div class="foot_label">Concesionarios</div>
				<div class="foot_go"></div>
			</li>
			<li>
				<div  id="foot_p" class="foot_icon"></div>
				<div class="foot_label">Promociones</div>
				<div class="foot_go"></div>
			</li>
		</ul>
		<ul id="social_btns">
			<li id="twitter_btn"></li>
			<li id="facebook_btn"></li>
			<li id="googleplus_btn"></li>
		</ul>
		<ul id="legal_btns">
			<li>Aspectos Legales</li>
			<li>Volkwagen Internacional</li>
		</ul>
		<div id="copy">&copy; Volkswagen México 2013</div>
	</footer>
</div>