<div id="wrapper">
	<header id="header">
		<nav id="menu">
			<ul>
				<li id="logo">
					<a href="./" target="_self"><img src="/assets/volkswagen_logo.png" widht="39" height="39"></a>
				</li>

				<li id="search_btn" class="btn" action="search"><img src="/assets/btn_search-icon.png" width="25" height="25" /></li>
				<li id="submenu_btn" class="btn" action="submenu"><img src="/assets/btn_menu-icon.png" width="27" height="20" /></li>
			</ul>
		</nav>
		<div id="submenu">
			<div class="whitebox">
			</div>
			<div class="m">
				<ul>
					<li><div class="icon tvw"></div><div class="title">Tus Volkswagen</div><div class="right_arrow"></div></li>
					<li><div class="icon help"></div><div class="title">Ayuda</div><div class="right_arrow"></div></li>
					<li action="page" class="btn"  actionid="car/"><div class="title">Todos los modelos</div><div class="right_arrow"></div></li>
				</ul>
			</div>
			<div class="dimmer"></div>
		</div>
		<div id="search">
			<div class="whitebox">
			</div>
			<div class="searchbox">
				<div class='left'></div>
				<div class='center'><input type="text" placeholder="Busca un VW" /></div>
				<div class='right'></div>
				<div class='close_btn btn' action="search"></div>
			</div>
			<div id="search_results"></div>
			<div class="dimmer"></div>
		</div>
	</header>
	<section id="content">
			<div class="prevPage page">Cargando...</div>
			<div class="currentPage page">Cargando...</div>

			<div class="nextPage page">Cargando...</div>
	</section>
	<footer id="footer">
		<ul id="gral_btns">
			<li>
				<div id="foot_ap" class="foot_icon"></div>
				<div class="foot_label">Atención personalizada</div>
				<div class="foot_go"></div>
			</li>
			<li>
				<div id="foot_c" class="foot_icon"></div>
				<div class="foot_label">Concesionarios</div>
				<div class="foot_go"></div>
			</li>
			<li>
				<div  id="foot_p" class="foot_icon"></div>
				<div class="foot_label">Promociones</div>
				<div class="foot_go"></div>
			</li>
		</ul>
		<ul id="social_btns">
			<li id="twitter_btn"></li>
			<li id="facebook_btn"></li>
			<li id="googleplus_btn"></li>
		</ul>
		<ul id="legal_btns">
			<li>Aspectos Legales</li>
			<li>Volkwagen Internacional</li>
		</ul>
		<div id="copy">&copy; Volkswagen México 2013</div>
	</footer>
</div>