<!-- 
	Esta es la única página que se carga sin AJAX, todas las demás se cargan internamente mediante ajax y se colocan todas en 
	.prevPage o .nextPage, o bien dentro de la búsqueda (#search_results)
--><div id="wrapper">
	<header id="header">
		<nav id="menu">
			<ul>
				<li id="logo">
					<a href="./" target="_self"><img src="/assets/volkswagen_logo.png" widht="39" height="39"></a>
				</li>

				<li id="search_btn" class="btn" action="search"><img src="/assets/img_search-icon.png" width="25" height="25" /></li>
				<li id="submenu_btn" class="btn" action="submenu"><img src="/assets/img_menu-icon.png" width="27" height="20" /></li>
				<li id="home_btn" class="btn" action="page" actionid="category/"><img src="/assets/btn_home2.png" width="21" height="20" /></li>
			</ul>
		</nav>
		<div id="submenu">
			<div class="whitebox">
			</div>
			<div class="m">
				<ul>
					<li  action="page" class="btn"  actionid="tusvw/"><div class="icon tvw"></div><div class="title">Tus Volkswagen</div><div class="right_arrow"></div></li>
					<li action="page" class="btn"  actionid="car/"><div class="title">Todos los modelos</div><div class="right_arrow"></div></li>
				</ul>
			</div>
			<div class="dimmer"></div>
		</div>
		<div id="search">
			<div class="whitebox">
			</div>
			<div class="searchbox">
				<div class='left'></div>
				<div class='center'><input type="text" placeholder="Busca un VW" /></div>
				<div class='right'></div>
				<div class='close_btn btn' action="search"></div>
			</div>
			<div id="search_results"></div>
			<div class="dimmer"></div>
		</div>
	</header>
	<section id="content">
			<div class="prevPage page">Cargando...</div>
			<div class="currentPage page">Cargando...</div>

			<div class="nextPage page">Cargando...</div>
	</section>
	<footer id="footer">
		<ul id="gral_btns">
			<li class='btn' action='attention'>
				<div id="foot_ap" class="foot_icon"></div>
				<div class="foot_label">Atención personalizada</div>
				<div class="foot_go"></div>
			</li>
			<li class='btn' action='link' actionid='http://www.vw.com.mx/es/guia_del_comprador/concesionarios.html'>
				<div id="foot_c" class="foot_icon"></div>
				<div class="foot_label"><a href="http://www.vw.com.mx/es/guia_del_comprador/concesionarios.html" target="_blank">Concesionarios
				</a></div>
				<div class="foot_go"></div>
			</li>
			<li class='btn' action='link' actionid='http://www.promocionesvw.mx/'>
				<div  id="foot_p" class="foot_icon"></div>
				<div class="foot_label"><a href="http://www.promocionesvw.mx/" target="_blank">Promociones</a></div>
				<div class="foot_go"></div>
			</li>
		</ul>
		<ul id="social_btns">
			<li id="twitter_btn" class='btn' action='link' actionid='https://twitter.com/Volkswagen_MX'></li>
			<li id="facebook_btn"  class='btn' action='link' actionid='https://www.facebook.com/VolkswagenMexico?fref=ts'></li>
			<li id="googleplus_btn"  class='btn' action='link' actionid='https://plus.google.com/+VolkswagenMexico'></li>
		</ul>
		<ul id="legal_btns">
			<li class='btn' action='link' actionid='http://www.vw.com.mx/es/tools/navigation/footer/aspectos_legalesyavisodeprivacidad.html'><a href='http://www.vw.com.mx/es/tools/navigation/footer/aspectos_legalesyavisodeprivacidad.html'>Aspectos Legales</a></li>
			<li class='btn' action='link' actionid='http://en.volkswagen.com/en.html'><a href='http://en.volkswagen.com/en.html'>Volkwagen Internacional</a></li>
		</ul>
		<div id="copy">&copy; Volkswagen México 2013</div>
	</footer>
</div>
<div id='review_list'>
		<div class="dimmer"></div>
		<div class="content">
			<div class="close_btn btn" action="hide_review"></div>
			<ul>
				<li>
					<div>Modelo/Versión</div>
					<div class="version">...</div>
				</li>
				<li>
					<div>Transmisión</div>
					<div class="transmission">Ninguno seleccionado</div>
				</li>
				<li>
					<div>Color</div>
					<div class="color">Ninguno seleccionado</div>
				</li>
				<li>
					<div>Vestiduras</div>
					<div class="interior">Ninguno seleccionado</div>
				</li>
				<li>
					<div>Paquetes</div>
					<div class="packages">Ninguno seleccionado</div>
				</li>
				<li>
					<div>Servicios</div>
					<div class="services">Ninguno seleccionado</div>
				</li>
			</ul>
			<div id="end_btn" class='large_btn btn config_btn' action='page' actionid="review/">
				<div class='left'></div>
				<div class='center'>Continuar</div>
				<div class='right'></div>
			</div>
		</div>

</div>
<div id='attention'>
	<div class="sub_header">
		<nav>
			<ul>
				<li class="sub_logo">
					<img src="/assets/volkswagen_logo.png" widht="39" height="39">
				</li>

				<li class="btn sub_close_btn" action="attention"><img src="/assets/btn_cerrar.png" width="24" height="24" /></li>
			</ul>
		</nav>
	</div>
	<div id="attention_content">
		<div id="form_title">
			<h1>Atención personalizada</h1>
			<p>Para recibir una asesoría completa, ingresa tus datos y un experto Volkswagen te atenderá.</p>
		</div>
		<div id="attention_form">
			<form id="a_form" action="form" method="post">
				<ul>
					<li>
						<label for="a_name">Nombre(s): *</label>
						<div class="form_input">
							<div class='left'></div>
							<div class='center'><input type="text" name="a_name" id="a_name" r="yes" /></div>
							<div class='right'></div>
						</div>
						
					</li>
					<li>
						<label for="a_lastname">Apellido(s): *</label>
						<div class="form_input">
							<div class='left'></div>
							<div class='center'><input type="text" name="a_name" id="a_name" r="yes" /></div>
							<div class='right'></div>
						</div>
					</li>
					<li>
						<label for="a_mail">E-mail: *</label>
						<div class="form_input">
							<div class='left'></div>
							<div class='center'><input type="email" name="a_name" id="a_name" r="yes" /></div>
							<div class='right'></div>
						</div>
					</li>
					<li class="info">
						Teléfono con lada y no más de 10 dígitos.
					</li>
					<li>
						<label for="a_home">Casa: *</label>
						<div class="form_input short">
							<div class='left'></div>
							<div class='center'><input type="number" name="a_home_code" id="a_home_code" maxlength="3" r="yes" /></div>
							<div class='right'></div>
						</div>
						<div class="form_input tel">
							<div class='left'></div>
							<div class='center'><input type="number" name="a_home" id="a_home" maxlength="8" r="yes"  /></div>
							<div class='right'></div>
						</div>
						<div class="tel_spacer"></div>
					</li>
					<li>
						<label for="a_office">Oficina: </label>
						<div class="form_input short">
							<div class='left'></div>
							<div class='center'><input type="number" name="a_office_code" id="a_office_code" maxlength="3" /></div>
							<div class='right'></div>
						</div>
						<div class="form_input tel">
							<div class='left'></div>
							<div class='center'><input type="number" name="a_office" id="a_office" maxlength="8" /></div>
							<div class='right'></div>
						</div>
						<div class="tel_spacer"></div>
					</li>
					<li>
						<label for="a_mobile">Celular: </label>
						<div class="form_input short">
							<div class='left'></div>
							<div class='center'><input type="number" name="a_mobile_code" id="a_mobile_code" maxlength="3" /></div>
							<div class='right'></div>
						</div>
						<div class="form_input tel">
							<div class='left'></div>
							<div class='center'><input type="number" name="a_mobile" id="a_mobile" maxlength="8" /></div>
							<div class='right'></div>
						</div>
						<div class="tel_spacer"></div>
					</li>
					<li>&nbsp;</li>
				</ul>
				<div class='large_btn btn ready_btn' action='form_submit' actionid="a_form">
					<div class='left'></div>
					<div class='center'>Enviar</div>
					<div class='right'></div>
				</div>
			</form>
		</div>
		<div id="attention_info">
			<p>En Volkswagen de México, S.A. de C.V., sabemos que existen muchas alternativas en el mundo virtual para obtener información automotriz, por lo que valoramos y apreciamos el tiempo que Usted se toma para conocer con mas detalle nuestros diferentes productos y servicios.</p>
			<p>
			Al momento de ingresar sus datos, el Titular acepta que los mismos serán tratados para las finalidades y bajo los términos y condiciones previstos en el Aviso de privacidad mismo que manifiesta conocer.
			</p>
			<p>
			Puede solicitar dejar de recibir esta información al correo: <a href="mailto:ProteccionDeDatosPersonalesVWM@vw.com.mx">ProteccionDeDatosPersonalesVWM@vw.com.mx</a>
			</p>
		</div>
		<div id="legal_info">
			<p>*) La información y/o imágenes aquí contenidas pueden no corresponder con total precisión (incluyendo precios, equipamiento, disponibilidad y demás aplicables) a la de los vehículos ofertados por las distribuidoras Volkswagen, por lo que le recomendamos visitar su distribuidor Volkswagen más cercano.
			</p>
		</div>
	</div>
	<div id="attention_thanks">
		<div id="vw_thanks">Volkswagen agradece tu confianza</div>
		<div id="soon">Pronto nos comunicamos contigo</div>
		<div class='large_btn btn config_btn' action='attention'>
					<div class='left'></div>
					<div class='center'>Regresar</div>
					<div class='right'></div>
				</div>
	</div>
</div>
<div id="simulator">
	<div class="sub_header">
		<nav>
			<div>Simulador financiero</div>
			<ul>
				<li class="sub_logo">
					<img src="/assets/volkswagen_logo.png" widht="39" height="39">
				</li>

				<li class="btn sub_close_btn" action="simulator"><img src="/assets/btn_cerrar.png" width="24" height="24" /></li>
			</ul>
		</nav>
	</div>
	<div id="simulator_content">
		<div class="page_title">
			<span class="cname">...</span> <span class="vname"></span>
		</div>
		<ul>
			<li id="regimen_fiscal">

				<div class="expand_btn btn"  action="expand_sim"></div>
				<div class="sim_title btn"  action="expand_sim">Régimen fiscal</div>
				<div class="sim_options">
					<ul>
						<li class="btn" action="option_sel" actionid="regimen_fiscal"><div>Option A</div></li>
						<li class="btn" action="option_sel" actionid="regimen_fiscal"><div>Option B</div></li>
						<li class="btn" action="option_sel" actionid="regimen_fiscal"><div>Option C</div></li>
					</ul>
				</div>
			</li>
			<li  id="inst_credito">
				<div class="expand_btn nbtn" action="expand_sim"></div>
				<div class="sim_title"  action="expand_sim">Institución de crédito</div>
				<div class="sim_options">
					<ul>
						<li class="btn" action="option_sel" actionid="inst_credito"><div>Option A</div></li>
						<li class="btn" action="option_sel" actionid="inst_credito"><div>Option B</div></li>
						<li class="btn" action="option_sel" actionid="inst_credito"><div>Option C</div></li>
					</ul>
				</div>
			</li>
			<li id="plan_financiamiento">
				<div class="expand_btn nbtn"  action="expand_sim"></div>
				<div class="sim_title"  action="expand_sim">Plan de finánciamiento</div>
				<div class="sim_options">
					<ul>
						<li class="btn" action="option_sel" actionid="plan_financiamiento"><div>Option A</div></li>
						<li class="btn" action="option_sel" actionid="plan_financiamiento"><div>Option B</div></li>
						<li class="btn" action="option_sel" actionid="plan_financiamiento"><div>Option C</div></li>
					</ul>
				</div>
			</li>
			<li id="sim_slider">
				<div id="slider_title">Porcentaje de enganche:</div>
				<div id="slider">
					<div id="slider_btn" class="btn">20%</div>
				</div>
			</li>
			<li id="plazo">
				<div class="expand_btn nbtn" action="expand_sim"></div>
				<div class="sim_title"  action="expand_sim">Plazo</div>
				<div class="sim_options">
					<ul>
						<li class="btn" action="option_sel" actionid="plazo"><div>Option A</div></li>
						<li class="btn" action="option_sel" actionid="plazo"><div>Option B</div></li>
						<li class="btn" action="option_sel" actionid="plazo"><div>Option C</div></li>
					</ul>
				</div>
			</li>
			
		</ul>
		<ul class="sim_totals">
			<li>
				<div class="simtotal_title">Mensualidades: </div> 
				<div class="simtotal_value">$6,820.00 M.N.</div> 
			</li>
			<li>
				<div class="simtotal_title">Enganche: </div> 
				<div class="simtotal_value">$20,620.00 M.N.</div> 
			</li>
			<li>
				<div class="comission">Comisión por apertura 2%</div>
			</li>
		</ul>
		<div class="info_sim">* La información y/o imágenes aquí contenidas pueden no corresponder con total precisión (incluyendo precios, equipamiento, disponibilidad y demás aplicables) a la de los vehículos ofertados por las distribuidoras Volkswagen, por lo que le recomendamos visitar su distribuidor Volkswagen más cercano</div>
		<div class="ac_sim">* Operaciones calculadas con precios vigentes al 30 de Septiembre 2013.</div>
	</div>
</div>
<script type='text/javascript'>
	var params = <%= raw params.to_json %>;
	var car = <%= raw @car.to_json %>;
</script>