<div>
	<div class="page_title">
		<% if(@category) %>
			<%= @category.name %>
		<% else %>
			Todas las categorías
		<% end %>
		<div class='back_btn btn' action='back'></div>
	</div>
	<ul class='category_list'>
<%  @subcategories.each do |sc| %>
	<li action="page" class="btn" actionid="car/?id=<%= sc.id %>">
		<div><%= sc.name %></div>
		<div></div>
	</li>
<% end %>
	<li action="page" class="btn all_models"  actionid="car/">
		<div>Todos los  modelos</div>
		<div></div>
	</li>
</ul>
</div>