<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Volkswagen México - Configurador de autos Volkswagen</title>

	<meta name="description" content="Configura tu Volkswagen: tú eliges el color, la transmisión y el equipo de tu auto, guarda tus configuraciones y compártelas. Solicita atención personalizada, localiza la agencia más cercana y ve por tu VW.">
	<meta name="keywords" content="volkswagen, autos, modelos de autos, vw, coches nuevos, golf, jetta, polo, polo gti, vw cc, tuareg, carros hibridos, tiguan, motor tsi, equipamiento, distribuidores vw, beetle crossfox, paquetes de coches, personalizar carros, cotizacion de carros,">

	

	<meta property="og:type" content="website" />
    <meta property="og:title" content="Volkswagen México - Configurador de autos Volkswagen" />
    <meta property="og:description" content="Configura tu Volkswagen: tú eliges el color, la transmisión y el equipo de tu auto, guarda tus configuraciones y compártelas. Solicita atención personalizada, localiza la agencia más cercana y ve por tu VW." >
    <meta property="og:url" content="http://vw-wheel.herokuapp.com/" />
    <meta property="og:image" content="http://vw-wheel.herokuapp.com/assets/vw.jpg" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  	<link rel="shortcut icon" href='/assets/favicon.ico' />
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
